.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
}
.my{
  
    height: 320px;
    width: 280px;
    border-radius: 200px;
}
.text {
    background: linear-gradient(267deg,#DA7C25 0.36%, #b923Eb 102.6%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero h1 {
    text-align: center;
    width: 80%;
    font-size: 40px;
    font-weight: 600;
}
.resume {
    padding: 20px 65px;
    border: 2px solid #FFF;
    border-radius: 50px;
}
.resume:hover{
    border-color: #DA7C25;
}
