.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    margin: 10px 100px;
}
.about-title {
    margin-top: 100px;
    position: relative;
}
.about-title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.me{
    height: 400px;
    width: 300px;
    border-radius: 30px;
    
}
.about-section{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap : 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 18px;
    font-weight: 400;
}
.about-skills {
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.about-skill {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
}
.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%, #b923Eb 102.6%);
}
@media (max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    .about-title img {
        width: 130px;
        right: -20px;
    }
    .about-section{
        display: flex;
        flex-direction: column;
    }
}